<% include header %>
<!--main-->

<div>
  <!--if lt IE 9
    p.browsehappy
      | You are using an
      strong outdated
      | browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      | to improve your experience.
    -->

    <div data-ng-controller="AppCtrl">
        <div data-ng-include=" 'views/menu.html' "></div>

      <div class="view-container container" id="main">

        <div class="row">
          
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="#" class="pull-right">Ver todos</a> <h4>Rincones destacados</h4></div>
                  <div class="list-group">
                    <% top.rincones.forEach(function(rincon){ %>
                    <a href="/rincon/<%=rincon.title%>" class="list-group-item">
                      <%=rincon.title%>
                    </a>
                    <% }); %>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="#" class="pull-right">Ver todos</a> <h4>Posts destacados</h4></div>
                  <div class="list-group">
                    <% top.posts.forEach(function(post){ %>
                    <a href="/post/<%=post._id%>" class="list-group-item">
                      <%=post.title %>
                    </a>
                    <% }); %>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="#" class="pull-right">Ver todos</a> <h4>Últimos posts</h4></div>
                  <div class="list-group">
                    <% top.latest.forEach(function(post){ %>
                    <a href="/post/<%=post._id%>" class="list-group-item">
                      <%=post.title %>
                    </a>
                    <% }); %>
                  </div>
            </div>
          </div>

        </div>


      </div>
    </div>

</div><!--/main-->


<% include login %>
<% include footer %>
