<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <base href="<%=base%>" >
    <% if(typeof title!='undefined'&&typeof description!='undefined'){ %>
    <title><%=title%> - <%=description%></title>
    <meta name="description" content="<%=title%> - <%=description%>">
      <% if(typeof post.image!='undefined'){ %>
        <meta property="og:image" itemprop="image primaryImageOfPage" content="<%=post.image%>" />
      <% } %>

      <% if(typeof post.description!='undefined'){ %>
          <meta name="twitter:description" property="og:description" itemprop="description" content=" <%=description%>">
      <% } %>

    <meta name="twitter:title" property="og:title" itemprop="title name" content="<%=title%>" />

    <% }else{ %>
    <title>Bugster - El rincón de los bichos</title>
    <meta name="description" content="Bugster -  El rincón de los bichos">
    <% } %>

    <meta name="generator" content="Bugster" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="plugins/loading-bar.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.3.3/sweet-alert.min.css">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/bugster.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body data-ng-app="app" >
