<% include header %>
<!--main-->

<div>
  <!--if lt IE 9
    p.browsehappy
      | You are using an
      strong outdated
      | browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      | to improve your experience.
    -->

    <div data-ng-controller="AppCtrl">
        <div data-ng-include=" 'views/menu.html' "></div>

      <div class="view-container container">
        <div class="indexable" ng-controller="PostCtrl">

          <div class="row">
            <div class="col-md-7">
              <% if(typeof post.image!='undefined'){ %>
                <img src="<%=post.image%>" alt="<%=post.title%>" style="max-width:100%" />
              <% } %>

              <% if(typeof post.youtube!='undefined'){ %>
                <iframe width="100%" height="400" src="//www.youtube.com/embed/<%=post.youtube%>?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
              <% } %>
            </div>

            <div class="col-md-5">
              <div class="panel panel-default">
                <div class="panel-body">

                  <h2><%=post.title%></h2>
                  <p>
                    <% if(post.description!='undefined') { %>
                      <%=post.description%>
                    <% } %>
                  </p>
                  <table class="table">
                    <tr>
                      <td>
                        <strong>Vistas:</strong>
                      </td>
                      <td>
                        <span class="badge btn-info" id="post_views"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Fecha:</strong>
                      </td>
                      <td>
                        <span class="badge btn-info"><%=post.date%></span>
                      </td>
                    </tr>
                  </table>


                  <hr>
                  <div class="btn-group">
                    <!-- <button class="btn btn-default"><i class="fa fa-thumbs-up"></i> Me agrada</button>
                    <button class="btn btn-default"><i class="fa fa-thumbs-down"></i> Me desagrada</button> -->
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bugster.mx/post/<%=post.post_id%>" data-via="bugstermx" data-size="large">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                    <div class="fb-like" data-href="http://bugster.mx/post/<%=post.post_id%>" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
                    <br>
                    <% if(post.user){ %>
                      <a class="btn btn-default" href="/user/<%=post.user%>">
                        <i class="fa fa-user"></i> Stalkear al autor
                      </a>
                    <% }else{ %>
                      <a class="btn btn-default" href="javascript:;">
                        <i class="fa fa-user"></i> Autor anónimo
                      </a>
                    <% } %>
                  </div>
                </div>
              </div>

              <div class="well">
                <div class="fb-comments" data-href="http://bugster.mx" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
              </div>
            </div>

          </div>

          <h3>Post relacionados</h3>
          <div class="row">

              <% if(typeof post.related!='undefined'){ %>
                <% post.related.forEach(function (r) { %>
                  <div class="col-md-3">
                  <a href="/post/<%=r.post_id%>" class="thumbnail">
                    <div class="img-holder">
                      <% if (r.image!='undefined'){ %>
                        <img src="<%=r.image %>" alt="<%=r.title %>" />
                      <% } %>
                    </div>
                    <p class="caption"><%=r.title %></p>
                  </a>
                  </div>
              <% }); %>
              <% } %>

          </div>


        </div>
      </div>
    </div>

</div><!--/main-->



<% include login %>
<% include footer %>
